body {
    font-family: sans-serif;
}
header{
   text-align: center;
    font-size: 30px; 
    border: 5px solid blue; 
    border-radius: 10px;
}
.ceson{
  font-size: 40px;
  background-color: rgb(255, 255, 255);
}
footer{
    text-align: center;
    font-size: 30px;
}
nav{
    font-size: 35px;
    background-color:blue
    color:white
    border:5px
    border-radius:4px
    border-color:red
}
.d ceson{
   font-size: 40px;
}
main{
 background-image: url("https://i.pinimg.com/originals/c4/dd/71/c4dd71f4fdce0228ae7904bec8ade45d.png") 
